		<header class="row">
			<div class="table">
			    <div class="table-cell col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 hidden-xs">
			        <hr>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
			        <span class="h1">Client Reviews</span>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 hidden-xs">
			        <hr>
			    </div>
			</div>	
		</header>

		<p class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1">	
		<br><br>
			<span class="h2">Dear Wonderful, Talented, Charming, Fabulous Larry,</span><br>
			Hands down…You and your band made the entire evening! From your vocalist as Jenny walked down the aisle during the ceremony to the last song that you played, you created an atmosphere that kept every single guest dancing and in awe of every minute. We could have had Sliders, no flowers and been in a shack and it still would have been the greatest wedding ever-and thats 100% because of you!<br><br>

			Words cannot express our gratitude & everyone…I mean everyone commented on your unbelievabe sound. Amazing!<br><br>

			<strong>Love, love, love you!!</strong><br>

			- Joni & Mark Goodman<br><br>

			<span class="h2">Mike and Larry,</span><br>
			First and most importantly, I hope that all is well with you and your families. I am sure that, in the middle of summer, you are extremely busy.<br><br>

			Leora and I wanted to write because now, almost 2 months removed from June 5, people are still talking about the most amazing band that was playing at the Shelomovitz/Friedman wedding. These are people who have been to MANY weddings and are not easily impressed. Needless to say, you left a lasting impression from Chicago to Pittsburgh to New York to Miami and all the way to Israel.<br><br>

			More importantly than that, Leora and I continue to rave about how perfectly you nailed exactly what we wanted. We had very specific requests and a very eclectic style, yet no challenge was too great for you; you got it exactly right. You guys were so much fun to be around and we loved that 30 minute meetings with you turned into 3 hour hangouts. We only hope that we are fortunate enough to be able to have the LKO experience again.<br><br>

			<strong>Again, thank you all for everything.</strong><br>

			- Leora & Eli<br><br>

			<span class="h2">Greetings Mike & Larry!!</span><br><br>
			We are so sorry that this email is long over due! We returned from our mini-moon last week and have been meaning to write since we landed. Somehow the days continue to fly by and we feel terrible that it’s taken until now to finally write…I guess time flies when you’re newly wed ;)<br><br>

			We just want to thank you, Larry, and the entire Orchestra for making our wedding on February 2 so amazing!!<br><br>

			You undoubtedly made our wedding celebration an absolute blast! The dance floor was packed all night and everyone–young and old (yes, even our grandparents)— rocked out and busted a move through the wee hours of the night. Thank you to the sensational talent of the band and for delivering such a high energy performance that made the crowd go wild! We hoped for a non-stop, lively party and you brought your A Game—the warmth and enthusiasm of the orchestra was infectious and the night was a dream come true! Thank you for helping us create an all out dance party that we will cherish forever!<br><br>

			Since our wedding, the phones have yet to stop ringing, our email inboxes are full, and when visiting with wedding guests since our big day, they have not stopped raving about the talent and superb performance LKO delivered at our wedding. Several of our guests happened to be musicians themselves and with their discerning tastes, it is rare that they compliment other musical talent. However, even they can’t stop gushing about how wonderful you were!!<br><br>

			Thank you SO much for making our wedding absolutely magical!!!! It was a pleasure to work with you and we hope to see you at our next big life milestone event!!!<br><br>

			<strong>Warmly,</strong><br>

			- Liz (Demar) & Jason Simon<br><br>

			<span class="h2">Larry,</span><br>
			Thank you so much for putting on an amazing “concert” this past weekend. The band was phenomenal! I must have been told 100 times that night that the band was amazing. When Lauren and I first met you, I knew our wedding was going to be special with you guys there. I personally had the best time with you guys. Letting me sing with you was amazing; plus at the end when I was singing solo, you put the Vocoder on my voice and everyone was like “I didn’t know Ricky could sing!” Mad props to you and the band. I will always recommend you to everyone who wants to crush it on their wedding night. (If they’re not up for partying then they should go with someone else.) Thanks again for being a huge part of a night we will never forget.<br><br>

			<strong>Love,</strong><br>

			- Ricky & Lauren<br><br>

			<span class="h2">Mike & Larry,</span><br>
			We just got back in town from our honeymoon. We truly cannot thank you enough for making our wedding such an overwhelming success. A day hasn’t gone by since the wedding where someone hasn’t told us yet again something like “Larry King Orchestra was the best band I have ever seen” or “your wedding band made your wedding the best wedding ever.”<br><br>

			Even our photographer hopped on the LKO train with a shout-out to you guys as the “best band I have ever heard at a wedding” on her blog where she posted some of our pictures. There’s even a cool shot of Larry doing his thing :)<br><br>

			We knew you guys were gonna be great, but you truly blew away any expectation we possibly could have had. Thank you for giving us one of the best nights of our lives. We’ll be sure to recommend you guys to everyone we know (though I don’t think we’ll have to say too much to anyone in attendance at our wedding.) I think even the older folks wished they could get married again just to have you play at their wedding.<br><br>

			<strong>Take care and hope to run into you soon,</strong><br>

			— Aaron & Alison Rosenthal<br><br>

			<span class="h2">Larry King Orchestra,</span><br>
			Austin and I just wanted to thank you for the amazing and outstanding job you guys did at our wedding. You guys truly helped make it a day and event that we and everyone else can’t stop talking about. I have had so many people call and email us and our families talking about how we had the best band they have ever heard.<br><br>

			As Austin and I were on our honeymoon for the last three weeks we kept rehashing how amazing the wedding was. The one thing we kept saying to each other was that you guys really made the wedding. I don’t think there are words for us to tell you how thankful and happy we are with your performance. A month after the wedding as we are getting back into the swing of things back home I have had friends continue to tell us how awesome you were.<br><br>

			<strong>Thank you for making our wedding a remarkable event!!!!!!!</strong><br>

			— Austin and Stacy Marks<br><br>

			Orchard Lake, MI<br><br>

			<span class="h2">Dear Larry,</span><br>
			Having worked my way through high school and college playing drums, often six nights a week, I played more weddings than I care to remember, none however like the venue at the InterContinental, and never with musicians as talented and professional at yours.<br><br>

			Considering the broad age spread of the attendees, everyone felt they got a large dose of their favorites whether oldies, R&B, country, rap or contemporary. The vocalists were superb, and the excitement, passion and the personalities of the players quite exceptional.<br><br>

			Many thanks to you and your team for making Jessica and Erik’s party so memorable.<br><br>

			<strong>Kindest regards,</strong><br><br>

			— Geof Bloom<br>

			Father of the Bride<br><br>

			<span class="h2">Dear Larry and your AMAZING orchestra,</span><br>
			There are no words that describe how magnificent our wedding was and your orchestra deserves all of the credit. The night was absolutely spectacular, the music was unbeatable and the dance floor was packed all night. Thank you for the most memorable first dance to “Every Time We Touch.” Our family and friends are still, months later, talking about the incredible, talented and fantastic Larry King Orchestra! We didn’t leave the dance floor for one minute and we now have the pictures to prove it. You were not only a pleasure to work with, but your enthusiasm and excitement for our wedding was evident throughout the entire planning process. Ending the night with “Go Cubs Go” was a perfect ending to a perfect night. We thank you from the bottom of our hearts. Keep on doing what you do-you guys are the BEST!<br><br> 

			<strong>With Love,</strong><br>

			— Karee & Jason Schwartz<br><br>
			 
			<span class="h2">Dear Larry,</span><br>
			I cannot say enough how fabulous you & your orchestra were for Leah & Scott’s wedding. We have received countless phone calls & emails raving about the music! Your energy was tremendous and everyone was out on the dance floor having a great time all night. You really contributed a huge amount to making the wedding a success. We wish we could sign you up in advance for our other kids weddings! When the time comes you will be the first on our list. Thank you again for a wonderful evening of music.<br><br> 

			<strong>Warmly,</strong><br>

			— Linda & Jeff Stern<br><br>

			<span class="h2">Larry King Orchestra,</span><br>
			All that I can say is WOW, AMAZING and most of all YOU ROCK! We knew our wedding was going to be an amazing night, but your band made it truly unforgettable. Our dance floor was NEVER empty! Family and friends are still talking about how incredible you sounded. Thank you for everything!<br><br>

			<strong>Love,</strong><br>

			— Rachel & Kit Harley<br><br>

			<span class="h2">To The Larry King Orchestra,</span><br>
			Thank You for putting on such an amazing show on our wedding day! Our guests won’t stop talking about how great you guys were! You really kept the crowd going-and they would have stayed until 5am if they could have. Feel free to use us as a reference if you like.<br><br>

			<strong>All the best,</strong><br>

			— Cindy & Richard Roche<br><br> 

			<span class="h2">Dear Larry (and band),</span><br>
			Where in the world do I begin? Larry, dear GOD were you all wonderful at my wedding!! It is sincerely and truly difficult for me to express to you how deeply your performance touched us and all of our guests. You were phenomenal! Amazing! Magnificent! Absolutely Incredible! To this day I continue to hear how much everyone loved “that band!” “Cindy…that band-They were awesome!” I just smile, nod and say “I know.”<br><br> 

			Really, Larry, what you brought to our wedding day cannot be explained nor measured. You made my wedding dream come to life, and I mean that. I’ve never felt so much life, so much love all at once and your gift of music and the passion with which it was played was just beautiful. From the bottom of our hearts, Aaron and I thank you. For as long as we live, we’ll never forget the gift you gave to us.<br><br>
			<strong>Much Love and Thanks,</strong><br>
			— Cindy & Aaron Skalicky<br><br>

			<span class="h2">Larry, Larry, Larry,</span><br>
			What can we say? You rocked the house. You cannot imagine how much positive feedback we got about you guys. People said they felt like they were at a concert. Many said it was the best wedding they’d ever been to and you guys were a huge part of that! Thank you for learning those songs…Robert Bradley and Jerry Garcia would be proud! You helped make our wedding the greatest night of our lives and we are eternally grateful.<br><br> 

			— Steph Penner-Degodny & Stephen Degodny<br><br>

			<span class="h2">Dear Larry,</span><br>
			On behalf of Scot, my parents and I we would like to thank you for the wonderful job that you and your orchestra did at the wedding. We had the greatest time and everyone has been raving about it ever since. I had so many friends that said they always thought that they would want a DJ and did not like bands until they heard yours. You kept the wedding upbeat and the guests on the dance floor. We could not have asked for more. You sounded wonderful singing “Sogno” during the ceremony and people thought it was just amazing. Thank you for being so easy to work with and for helping make my wedding the fun and magical night that I had always dreamed of!<br><br>

			<strong>Fondly,</strong><br>

			— Gwen & Scot Levine, Marsha & Marc Pekay<br><br>

			<span class="h2">Dear Larry,</span><br>
			Please pass on to the band how much everyone loved your music, and how incredible you all were! You helped make Danielle’s day even more perfect, and it wouldn’t have been the same without your band. We appreciate all of your time and talent. You are the BEST and it was money well spent!<br><br> 

			<strong>Thanks again,</strong><br>

			— Larry & Donna Krause<br>

			San Francisco, CA<br><br>
			 
			<span class="h2">Larry,</span><br>
			Thank you so much for putting on an amazing “concert” this past weekend. The band was phenomenal! I must have been told 100 times that night that the band was amazing. When Lauren and I first met you, I knew our wedding was going to be special with you guys there. I personally had the best time with you guys. Letting me sing with you was amazing; plus at the end when I was singing solo, you put the Vocoder on my voice and everyone was like “I didn’t know Ricky could sing!” Mad props to you and the band. I will always recommend you to everyone who wants to crush it on their wedding night. (If they’re not up for partying then they should go with someone else.) Thanks again for being a huge part of a night we will never forget.<br><br> 

			Love,<br>

			- Ricky & Lauren

			<span class="h2">Dear Mike & Larry,</span><br>
			A very big Thank You for all of your help in making our event at Crystal Garden a huge success! The band was amazing and your DJ was awesome – please forward our thanks to him. We’ve received tremendous reviews regarding the music, venue and dinner and wanted to let you know. Again, thank you for your help and recommendations. We really appreciated it!<br><br>

			Sincerely,<br>

			— Jennifer McEwen<br>

			Cardinal Health<br><br>

			<span class="h2">Mike,</span><br>
			You guys were absolutely fantastic! I can’t thank you enough. Packed dance floor at 2am…need I say more? You certainly have my vote to do the Cotillion again! You guys picked up so much of the essence of the Cotillion despite never having done it before. Your professionalism and willingness to take the time to learn every nuance made the evening perfect and seamless. Bravo.<br><br>

			Please give my best to Larry.<br><br>

			Thank you again for everything. We’ll be in touch soon.<br><br>

			— Beth Coleman, Cotillion Chair<br>

			Passavant Cotillion & Christmas Ball
		</p>
<br><br>