		<header class="row">
			<div class="table">
			    <div class="table-cell col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 hidden-xs">
			        <hr>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
			        <span class="h1">Corporate Clients</span>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 hidden-xs">
			        <hr>
			    </div>
			</div>	
		</header>

		<p class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1">	
<br><br>

			<span class="h2">Dear Mike & Larry,</span><br>
			A very big Thank You for all of your help in making our event at Crystal Garden a huge success! The band was amazing and your DJ was awesome – please forward our thanks to him. We’ve received tremendous reviews regarding the music, venue and dinner and wanted to let you know. Again, thank you for your help and recommendations. We really appreciated it!<br><br>

			Sincerely,<br>

			— Jennifer McEwen<br>

			Cardinal Health<br><br>

			<span class="h2">Mike,</span><br>
			You guys were absolutely fantastic! I can’t thank you enough. Packed dance floor at 2am…need I say more? You certainly have my vote to do the Cotillion again! You guys picked up so much of the essence of the Cotillion despite never having done it before. Your professionalism and willingness to take the time to learn every nuance made the evening perfect and seamless. Bravo.<br><br>

			Please give my best to Larry.<br><br>

			Thank you again for everything. We’ll be in touch soon.<br><br>

			— Beth Coleman, Cotillion Chair<br>

			Passavant Cotillion & Christmas Ball
		</p>
<br><br>