		<header class="row">
			<div class="table">
			    <div class="table-cell col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 hidden-xs">
			        <hr>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
			        <span class="h1">LKO Press</span>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 hidden-xs">
			        <hr>
			    </div>
			</div>	
		</header>

		<div class="col-lg-8 col-lg-offset-1 col-md-9 col-sm-8 col-xs-8">	
<br><br>
<div class="col-md-10">
			<span class="h2">Heather Vickery-Greatest Expectations</span><br><br>
							 
				<strong>Vendor of the Month: Larry King Orchestra</strong><br>

				<strong>Greatest Expectations | February 6, 2009</strong><br>

				When it comes to wedding bands, all is not created equal! Perhaps it is because I was born with “music in my bones” (as my father used to say) or maybe because I have exceptionally good taste (as my husband would tell you) but I have seen and heard a lot of wedding bands in my 13 year career and there is no sound that compares to the Larry King Orchestra.<br><br>

				When you combine extraordinarily talented musicians with state of the art production and sound you get what is undoubtedly the best possible outcome for your wedding entertainment! All of the musicians involved with The Larry King Orchestra are uber talented and the coolest part is they all have “day jobs” in the music industry (yes … that means they are not your every day “wedding band” and they really prefer to be called a “Society Band” but hey, this is a wedding planning blog so we’ll go with that)! These guys have played with the likes of Mel Torme and The London Symphony Orchestra, Destiny’s Child and Beyonce Knowles, Tom Petty and the Heartbreakers and Soul Asylum just to name a few!<br><br>

				Larry King began his music career at the age of seven and was even feat in 5 commercials before age 13!! I am sure you have heard Larry’s silky voice on radio commercials (think WNUA) and never even knew it! Larry is an amazing song writer and has written some beautiful pieces for his “non wedding band” Soleil Moon as well as other talented musicians. One such song White Cotton Dress is one of my all time favorites. Long before it was picked up by Woody Bradshaw it was a stand out favorite for my clients Sara and Greg Pittenger. In fact, when Sara and Greg first went to meet Larry they walked in and he was playing this tune on his piano. When they heard it they knew this was the right band and in fact White Cotton Dress was their first dance song!<br><br>

				I always like to put Larry on the spot in client meetings and ask him to play the piano and treat us all to his smooth sound … How could anyone resist that voice!!<br><br>

				I have to be fair though, one of the best parts of working with The Larry King Orchestra is having Mike Weber (the man behind the band … fantastic!). Mike really knows his stuff and works his tails off to make sure the sound is absolutely perfect. And for a real treat he does all of the “rap” for the band. My all time favorite is when they perform Justin Timberlake’s Sexy Back. They sound spot on to the CD and Mike makes the whole thing outstanding. I can promise you if we are working an event with LKO and this song comes on, my entire staff takes the time to enjoy it!<br><br>

			<div class="col-md-4 soleil-moon">
				<span class="h2-alt">People Magazine</span><br><br>
				<a class="lko-press cboxElement lko-press-cbox"  href="/pdf/People-Magazine.png">
					<span class="thumb">
						<img src="/pdf/small/People-Magazine.jpg" class="img-responsive" width="250" alt="As Seen In People Magazine">
					</span>
				</a>
			</div>
			<div class="col-md-4 soleil-moon">
				<span class="h2-alt">CS Brides Magazine 2009</span><br><br>
				<a class="lko-press cboxElement lko-press-cbox" href="/pdf/CS-Brides-Magazine-2009.jpg">
					<span class="thumb">
						<img src="/pdf/small/CS-Brides-Magazine-2009.jpg" class="img-responsive" width="250" alt="As Seen In CS Brides Magazine 2009">
					</span>
				</a>
			</div>
			<div class="col-md-4 soleil-moon">
				<span class="h2-alt">Scene Chicago Weddings 2009</span><br><br>
				<a class="lko-press cboxElement lko-press-cbox" href="/pdf/CS-Brides-Magazine-2009.jpg">
					<span class="thumb">
						<img src="/pdf/small/Scene-Chicago-Weddings-2009.jpg" class="img-responsive" width="250" alt="As Seen In Scene Chicago 2009">
					</span>
				</a>
			</div>
			<div class="col-md-4 soleil-moon">
				<span class="h2-alt">Scene Chicago Weddings 2008</span><br><br>
				<a class="lko-press cboxElement lko-press-cbox" href="/pdf/Scene-Chicago-Weddings-2008.jpg">
					<span class="thumb">
						<img src="/pdf/small/Scene-Chicago-Weddings-2008.jpg" class="img-responsive" width="250" alt="As Seen In Scene Chicago 2008">
					</span>
				</a>
			</div>

			<div class="col-md-4 soleil-moon">
				<span class="h2-alt">Modern Bride Magazine 2007</span><br><br>
				<a class="lko-press cboxElement lko-press-cbox" href="/pdf/Modern-Bride-Magazine-2007.jpg">
					<span class="thumb">
						<img src="/pdf/small/Modern-Bride-Magazine-2007.jpg" class="img-responsive" width="250" alt="As Seen In Scene Chicago 2009">
					</span>
				</a>
			</div>
</div>
</div>
<br><br>