		<header class="row">
			<div class="table">
			    <div class="table-cell col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 hidden-xs">
			        <hr>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
			        <span class="h1">Raves &amp; Reviews</span>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 hidden-xs">
			        <hr>
			    </div>
			</div>	
		</header>

		<p class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-1">
			<br><br>

		<span class="h2">Dear Wonderful, Talented, Charming, Fabulous Larry,</span><br>
			Hands down…You and your band made the entire evening! From your vocalist as Jenny walked down the aisle during the ceremony to the last song that you played, you created an atmosphere that kept every single guest dancing and in awe of every minute. We could have had Sliders, no flowers and been in a shack and it still would have been the greatest wedding ever-and thats 100% because of you!<br><br>

			Words cannot express our gratitude & everyone…I mean everyone commented on your unbelievabe sound. Amazing!<br><br>

			<strong>Love, love, love you!!</strong><br><br>

			- Joni & Mark Goodman<br><br>


			<span class="h2">Mike and Larry,</span><br>
			First and most importantly, I hope that all is well with you and your families. I am sure that, in the middle of summer, you are extremely busy.<br><br>

			Leora and I wanted to write because now, almost 2 months removed from June 5, people are still talking about the most amazing band that was playing at the Shelomovitz/Friedman wedding. These are people who have been to MANY weddings and are not easily impressed. Needless to say, you left a lasting impression from Chicago to Pittsburgh to New York to Miami and all the way to Israel.<br><br>

			More importantly than that, Leora and I continue to rave about how perfectly you nailed exactly what we wanted. We had very specific requests and a very eclectic style, yet no challenge was too great for you; you got it exactly right. You guys were so much fun to be around and we loved that 30 minute meetings with you turned into 3 hour hangouts. We only hope that we are fortunate enough to be able to have the LKO experience again.<br><br>

			<strong>Again, thank you all for everything.</strong><br><br>

			- Leora & Eli<br><br>


			<span class="h2">Larry</span><br>
			Thank you so much for putting on an amazing “concert” this past weekend. The band was phenomenal! I must have been told 100 times that night that the band was amazing. When Lauren and I first met you, I knew our wedding was going to be special with you guys there. I personally had the best time with you guys. Letting me sing with you was amazing; plus at the end when I was singing solo, you put the Vocoder on my voice and everyone was like “I didn’t know Ricky could sing!” Mad props to you and the band. I will always recommend you to everyone who wants to crush it on their wedding night. (If they’re not up for partying then they should go with someone else.) Thanks again for being a huge part of a night we will never forget.<br><br>

			Love,<br><br>

			- Ricky & Lauren<br><br>
		</p>
<br><br>