		<header class="row">
			<div class="table">
			    <div class="table-cell col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 hidden-xs">
			        <hr>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
			        <span class="h1">Soleil Moon Reviews</span>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 hidden-xs">
			        <hr>
			    </div>
			</div>	
		</header>
<br><br>
	<div class="row">	
		<div class="col-xs-7 col-sm-8 col-sm-offset-1">

			<div class="col-md-4 col-sm-4 soleil-moon">
					<a class="raves-and-reviews-link cboxElement"  href="/pdf/Hard-Rock-AOR-Heaven.jpg">
						<span class="thumb">
							<img src="/pdf/small/Hard-Rock-AOR-Heaven.jpg" class="img-responsive">
						</span>
					</a><br><br>
				<span class="h2-alt">Hard Rock/ AOR Heaven-Sweden</span><br><br>
			</div>

			<div class="col-md-4 col-sm-4 soleil-moon">
					<a class="3-pager cboxElement" href="/pdf/3-page.html">
						<span class="thumb">
							<img src="/pdf/small/Soleil-Moon-Review-Viria-Or-pg1.jpg" class="img-responsive">
						</span>
					</a>
					<br><br>
				<span class="h2-alt">Viri AOR-Spain</span><br><br>
			</div>

			<div class="col-md-4 col-sm-4 soleil-moon">
					<a class="raves-and-reviews-link cboxElement" href="/pdf/ac2000.png">
						<span class="thumb">
							<img src="/pdf/small/ac2000.png" width="235px" class="img-responsive">
						</span>
					</a>
					<br><br>
				<span class="h2-alt">AC 2000-Top Trax</span><br><br>
			</div>

			<div class="col-md-4 col-sm-4 soleil-moon">
					<a class="raves-and-reviews-link cboxElement"  href="/pdf/Hard-Sounds-Italy.jpg">
						<span class="thumb">
							<img src="/pdf/small/Hard-Sounds-Italy.jpg" width="235px" class="img-responsive">
						</span>
					</a>
					<br><br>
				<span class="h2-alt">Hard Sounds – Italy</span><br><br>
			</div>

			<div class="col-md-4 col-sm-4 soleil-moon">
				<a class="raves-and-reviews-link cboxElement"  href="/pdf/Soleil-Moon-Radio-Charts.jpg">
					<span class="thumb">
						<img src="/pdf/small/Soleil-Moon-Radio-Charts.jpg" class="img-responsive" alt="">
					</span>
				</a><br><br>
				<span class="h2-alt">History Repeats It’s Pages – #8</span><br><br>
			</div>

			<div class="col-md-4 col-sm-4 soleil-moon">
				<a class="raves-and-reviews-link cboxElement"  href="/pdf/Soleil-Moon-Radio-Charts-30.jpg">
				<span class="thumb">
					<img src="/pdf/small/Soleil-Moon-Radio-Charts-30.jpg" class="img-responsive" alt="">
				</span>
				</a><br><br>
				<span class="h2-alt">Have Yourself A Merry Little Christmas – #30</span><br><br>
			</div>
			<div class="col-md-4 col-sm-4 soleil-moon">
				<a class="raves-and-reviews-link cboxElement"  href="/pdf/Soleil-Moon-Radio-Charts-22.jpg">
					<span class="thumb">
						<img src="/pdf/small/Soleil-Moon-Radio-Charts-22.jpg" class="img-responsive" alt="">
					</span>
				</a><br><br>
				<span class="h2-alt">Never Say Goodbye – #22</span><br><br>
			</div>

			<div class="col-md-4 col-sm-4 soleil-moon">
				<a class="raves-and-reviews-link cboxElement"  href="/pdf/Soleil-Moon-Radio-Charts-17.jpg">
					<span class="thumb">
						<img src="/pdf/small/Soleil-Moon-Radio-Charts-17.jpg" class="img-responsive" alt="">
					</span>
				</a><br><br>
				<span class="h2-alt">Willingly – #17</span><br><br>
			</div>

			<div class="col-md-4 col-sm-4 soleil-moon">		
				<a class="raves-and-reviews-link cboxElement"  href="/pdf/soleil-moon-radio-charts-25.jpg">
					<span class="thumb">
						<img src="/pdf/small/Soleil-Moon-Radio-Charts-25.jpg" class="img-responsive" alt="">
					</span>
				</a><br><br>
				<span class="h2-alt">Worlds Apart – #25</span><br><br>
			</div>