<!-- START ABOUT -->
<section class="about row">
	<div id="about"></div>
	<article>
		<header class="row">
			<div class="table">
			    <div class="table-cell col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 hidden-xs">
			        <hr>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 col-xs-12">
			        <span class="h1">Welcome to the next level</span>
			    </div>
			    <div class="table-cell col-lg-3 col-md-3 col-sm-3 hidden-xs">
			        <hr>
			    </div>
			</div>	
		</header>
		<section class="row">
		<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
			<div class="col-lg-3 col-md-3 col-sm-3">
				<img src="/img/LKO-Logo-clear.png" class="img-responsive">
			</div>
			<div>
			<p>The Larry King Orchestra (LKO) has been servicing the entertainment needs of private event clients spanning the globe for over 17 years. Approaching events from a musical perspective allows LKO to provide the ultimate in modern live performance. Whether it be a live mash-up for a first dance or a unique awards presentation, LKO provides a personalized musical experience for each event. From ceremony and cocktails to dinner and dancing, our guests travel on a sonic journey that accentuates the intended emotion and vibe from scene to scene. Whether it's the delicate nuance and beauty of a classical string ensemble, or the high energy of an electrifying band/DJ combination, LKO is the ultimate compliment to your special occasion creating the unique affair you and your guests will remember for a lifetime.</p>
			<hr>
			<span class="h2">Available For All of Your Entertainment Needs</span>
			</div>
			
		</div>
		</section>
	</article>
</section>
<!-- END   ABOUT -->