<!-- START BIOS -->
<section class="bios row">
	<div id="bios"></div>
	<article>
		<header class="row">
			<div class="table">
			    <div class="table-cell col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 hidden-xs">
			        <hr>
			    </div>
			    <div class="table-cell col-lg-2 col-md-2 col-sm-2 col-xs-12">
			        <span class="h1">Bios</span>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 hidden-xs">
			        <hr>
			    </div>
			</div>	
		</header>
		<section class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<div class="row ">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
				<a class="cboxElement biographies" href="/bios/larry-king"><!-- cbox -->
					<div class="image img-responsive">
						<img src="/img/all/Larry-King-300x300.jpg">
					</div>
					<div class="description">
						<h3>Larry King</h3>
						<p>Vocalist/Keys</p>
						<p>Larry King-President of Larry King Orchestra, MFO Entertainment Group, Inc. &amp; Mufaro Publishing, Inc., Lead Singer of Soleil Moon </p>
					</div>
						</a><!-- cbox -->
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/tina-crawley"><!-- cbox -->

					<div class="image img-responsive">
						<img src="/img/all/DWP0040-copy-300x300.jpg">
					</div>				
					<div class="description">

						<h3>Tina Crawley</h3>
						<p>Vocals</p>
						<p>Tina has been singing and dancing professionally since her youth.</p>
					</div>
						</a><!-- cbox -->

				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/kathleen-obrien"><!-- cbox -->

					<div class="image img-responsive">
						<img src="/img/all/Kate-Option-2-Edit.jpg">	                
					</div>						
					<div class="description">
						<h3>Kathleen O'Brien</h3>
						<p>Vocals</p>
						<p>Kathleen’s unique and varied singing career includes a recording contract with Motown records with her first band, Voyage, as well as singing backing vocals for Kenny Rogers on tour.</p>
					</div>
						</a>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/jeff-morrow"><!-- cbox -->

					<div class="image img-responsive">
						<img src="/img/all/DWP0039-copy-300x300.jpg">
					</div>
				
					<div class="description">
						<h3>Jeff Morrow</h3>
						<p>Vocals</p>
						<p>As a session singer, arranger and contractor, Jeff has worked on numerous gold and platinum albums with artists such as: R Kelly, Céline Dion, Richard Marx, Jay-Z, Ruben Studdard, Ramsey Lewis, Mavis Staples, Dennis De Young, Peter Cetera, Michael Bolton, Brian Culbertson, LaShell Griffin and many more.</p>
					</div>
						</a><!-- cbox -->

				</div>
			</div>
			<div class="row ">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/john-blasucci"><!-- cbox -->

					<div class="image img-responsive">                
						<img src="/img/all/John-Blasucci-Edit.png">
					</div>
					<div class="description">
						<h3>John Blasucci</h3>
						<p>Vocalist/Keys</p>
						<p>From artists like Richard Marx to Michael Bolton, John has made a living helping others share their music with the world.</p>
					</div>
						</a><!-- cbox -->

				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/khari-parker"><!-- cbox -->

					<div class="image img-responsive">
						<img src="/img/all/Khari-Parker-300x300.jpg">
					</div>
					<div class="description">
						<h3>Khari Parker</h3>
						<p>Drums</p>
						<p>Check out Khari playing in the house band on the Rosie O’Donnell show! The new Oprah Network show airs at 6pm central time Monday through Friday.</p>
					</div>
						</a><!-- cbox -->

				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/chris-siebold"><!-- cbox -->

					<div class="image img-responsive">
						<img src="/img/all/Siebold-New-Headshot-e1391631747849-300x300.jpg">
					</div>
					<div class="description">
						<h3>Chris Siebold</h3>
						<p>Guitar</p>
						<p>One of Chicago’s premier session and live guitar players, Chris has performed with artists such as PSYCLES, Kick the Cat, Maggie Speaks, Howard Levy and Vinnie Colaiuta to name a few.</p>
					</div>
						</a><!-- cbox -->

				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/ethan-bender"><!-- cbox -->

					<div class="image img-responsive">
						<img src="/img/all/Ethan-Bender-300x300.jpg">
					</div>
					<div class="description">
						<h3>Ethan Bender</h3>
						<p>Bass</p>
						<p>Milwaukee born bassist Ethan Bender has been on the professional music scene since he was in his teens.</p>
					</div>
						</a><!-- cbox -->

				</div>
			</div>
			<div class="row ">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/mike-poupko"><!-- cbox -->

					<div class="image img-responsive">
                
						<img src="/img/all/DWP0067-300x300.jpg">
                
					</div>
					
					<div class="description">
						<h3>Mike Poupko</h3>
						<p>Guitar</p>
						<p>Mike received his Jazz Performance degree from Roosevelt University in 2001 and has been performing throughout the country ever since.</p>
					</div>
						</a><!-- cbox -->

				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/marques-carroll"><!-- cbox -->

					<div class="image img-responsive">
						<img src="/img/all/Marques-Carroll-Edit.jpg">
					</div>
					<div class="description">
						<h3>Marques Carroll</h3>
						<p>Trumpet</p>
						<p>Marques Carroll has become one of the most diverse sought-out trumpet players the city of Chicago has to offer. He can be heard soloing or leading a section for blues guitarist Guy King, The Ojays, The Temptations, The Tom Matta Big Band, The DePaul Alumni Big Band, The BMC and The Larry King Orchestra.</p>
					</div>
						</a><!-- cbox -->

				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/nic-meyer"><!-- cbox -->

					<div class="image img-responsive">
						<img src="/img/all/Nic-Meyer-Shot-Option-2-e1391630707873-300x300.jpg">
					</div>
					<div class="description">
						<h3>Nic Meyer</h3>
						<p>Saxophone &amp; Flute</p>
						<p>Nic attended DePaul University on a saxophone performance scholarship and received his B.M. in Music Education.</p>
					</div>
						</a><!-- cbox -->

				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 musician">
						<a class="cboxElement biographies" href="/bios/john-janowiak"><!-- cbox -->

					<div class="image img-responsive">
						<img src="/img/all/John-Janowiak-Headshot-300x300.jpg">
					</div>
					<div class="description">
						<h3>John Janowiak</h3>
						<p>Trombone</p>
						<p>John Janowiak (a.k.a. Johnny Showtime) has carved out a niche as an in-demand trombone soloist and section man for a wide variety of groups and recording projects in and around Chicago.</p>
					</div>
						</a><!-- cbox -->

				</div>
			</div>
		</section>
	</article>
</section>
<!-- END   BIOS -->