<!-- START GALLERY -->
<section class="gallery row">
	<div id="gallery"></div>
	<article>
		<header class="row">
			<div class="table">
			    <div class="table-cell col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 hidden-xs">
			        <hr>
			    </div>
			    <div class="table-cell col-lg-2 col-md-2 col-sm-2 col-xs-12">
			        <span class="h1">Gallery</span>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 hidden-xs">
			        <hr>
			    </div>
			</div>	
		</header>
		<section id="gallery_results" class="gallery_thumbs row">
			<div class="col-lg-8  col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<a class="gallery-link cboxElement" href="/img/all/large-01.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-01.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-02.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-02.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-03.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-03.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-04.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-04.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-05.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-05.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-06.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-06.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-07.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-07.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-08.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-08.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-09.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-09.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-10.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-10.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-11.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-11.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-12.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-12.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-13.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-13.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-14.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-14.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-15.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-15.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-16.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-16.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-17.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-17.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-18.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-18.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-19.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-19.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-20.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-20.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-21.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-21.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-22.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-22.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-23.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-23.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-24.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-24.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-25.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-25.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-26.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-26.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-27.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-27.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-28.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-28.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-29.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-29.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-30.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-30.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-31.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-31.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-32.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-32.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-33.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-33.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-34.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-34.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-35.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-35.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-36.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-36.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-37.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-37.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-38.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-38.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-39.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-39.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-40.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-40.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-41.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-41.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-42.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-42.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-43.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-43.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-44.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-44.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-45.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-45.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-46.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-46.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-47.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-47.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-48.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-48.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-49.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-49.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-50.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-50.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-51.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-51.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-52.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-52.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-53.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-53.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-54.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-54.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-55.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-55.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-56.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-56.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-57.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-57.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-58.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-58.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-59.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-59.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-60.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-60.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-61.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-61.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-62.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-62.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-63.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-63.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-64.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-64.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-65.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-65.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-66.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-66.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-67.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-67.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-68.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-68.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-69.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-69.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-70.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-70.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-71.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-71.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-72.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-72.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-73.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-73.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-74.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-74.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-75.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-75.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>

				<a class="gallery-link cboxElement" href="/img/all/large-76.jpg">
					<span class="thumb col-lg-3 col-md-3 col-sm-6 col-xs-6">
						<img src="/img/all/small/small-76.jpg">
						<span class="hover"><i class="fa fa-search-plus fa-4"></i></span>
					</span>
				</a>
			</div>
		</div>
		<nav id="Gallery-Pagination"></nav>
		</section>
	</article>
</section>
<!-- END   GALLERY -->