<!-- START BIOS -->
<section  class="links row">
	<div id="links"></div>
	<article>
		<header class="row">
			<div class="table">
				<div class="table-cell col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 hidden-xs">
					<hr>
				</div>

				<div class="table-cell col-lg-2 col-md-2 col-sm-2 col-xs-12">
					<span class="h1">Links</span>
				</div>

				<div class="table-cell col-lg-4 col-md-4 col-sm-4 hidden-xs">
					<hr>
				</div>
			</div>  
		</header>
		<section class="row">
			<div class="col-lg-4 col-lg-offset-1 col-md-4  col-md-offset-1 col-sm-6 col-xs-6 text-center">
				<a target="_blank" href="http://www.bigcitybride.com/">Big City Bride</a>
				<br>
				<a target="_blank" href="http://poeticweddings.com/">Poetic Productions</a>
				<br>
				<a target="_blank" href="http://hmrdesigns.com/">Heffernan Morgan</a>
				<br>
				<a target="_blank" href="http://greatestexpectations.com/">Greatest Expectations-Heather Vickery</a>
				<br>
				<a target="_blank" href="http://barbaramossevents.com/">Barbara Moss Events</a>
				<br>
				<a target="_blank" href="http://www.weddingsinc.com/">Weddings Inc.</a>
				<br>
				<a target="_blank" href="http://www.engagingeventsbyali.com/">Engaging Events by Ali</a>
				<br>
				<a target="_blank" href="http://affairswithlinda.com/">Affairs with Linda</a>
				<br>
				<a target="_blank" href="http://www.kehoedesigns.com/">Kehoe Designs</a>
				<br>
				<a target="_blank" href="http://www.rachelbradleyevents.com/">Rachel Bradley Events</a>
				<br>
				<a target="_blank" href="http://www.thedrakehotel.com/">The Drake Hotel</a>
				<br>
				<a target="_blank" href="http://www.chicagoilluminatingcompany.com/">Chicago Illuminating Company</a>
			</div>
			<div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-1 col-sm-6 col-xs-6 text-center">

				<a target="_blank" href="http://www.kingensmith.com/intro/INTRO.html">Kingen Smith Photography</a>
				<br>
				<a target="_blank" href="http://www.icchicagohotel.com/">InterContinental Chicago</a>
				<br>
				<a target="_blank" href="http://ag-parties.com/">Audrey Gordon</a>
				<br>
				<a target="_blank" href="http://www.fourseasons.com/chicagorc/">The Ritz-Carlton Chicago</a>
				<br>
				<a target="_blank" href="http://kleinvideoservices.com/index2.htm">Klein Video Services</a>
				<br>
				<a target="_blank" href="http://www.cateringbymichaels.com/	">Catering by Michael's</a>
				<br>
				<a target="_blank" href="http://www.ronsley.com/">Ronsley :: Special Events</a>
				<br>
				<a target="_blank" href="www.soleilmoonband.com">Soleil Moon</a>
				<br>
				<a target="_blank" href="http://www.blissweddingsandevents.com/">Bliss Weddings & Events</a>
				<br>
				<a target="_blank" href="http://www.clementinecustomevents.com/">Clementine Custom Events</a>
				<br>
				<a target="_blank" href="http://www.westinchicago.com/">Westin Hotel & Resorts</a>
				<br>
				<a target="_blank" href="http://bcrevents.com/">Bambi Caicedo Rogers Events</a>
				<br>
			</div>
		</section>
	</article>
</section>