<!-- START RAVE-REVIEW -->
<section class="raves-reviews row">
	<div id="raves-reviews"></div>
		<article>
		<div class="raves-reviews-page"> 
			{{> raves-reviews/raves-reviews-default}}
		</div>

		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 raves-menu">
			<ul>
				<li><h4>Raves and Reviews</h4>
				</li>
				<li><i class="fa fa-angle-left"></i><a class="navlink" href="/raves-reviews/clients">Clients</a>
				</li>
				<li><i class="fa fa-angle-left"></i><a class="navlink" href="/raves-reviews/lko-press">LKO Press</a>
				</li>
				<li><i class="fa fa-angle-left"></i><a class="navlink" href="/raves-reviews/soleil-moon-reviews">Soleil Moon</a>
				</li>
			</ul>
		</div>
	</article>
</section>
<!-- END RAVES AND REVIEWS -->