<!-- START SERVICES -->
<section class="services row">
	<div id="services"></div>
	<article>
		<header class="row">
			<div class="table">
			    <div class="table-cell col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 hidden-xs">
			        <hr>
			    </div>
			    <div class="table-cell col-lg-2 col-md-2 col-sm-2 col-xs-12">
			        <span class="h1">Services</span>
			    </div>
			    <div class="table-cell col-lg-4 col-md-4 col-sm-4 hidden-xs">
			        <hr>
			    </div>
			</div>	
		</header>
		<section class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div>
                    <img src="/img/all/Trumpet_white.png" class="img-responsive"><br>
                    <h3>Jazz Ensembles</h3><br>
                    <div class="service_text">
						<p>Quintet</p>
						<p>Quartet</p>
						<p>Trio</p>
						<p>Solo Piano</p>
						<p>Vocalists</p>
					</div>
				</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            	<div>
                    <img src="/img/all/single_clef_white.png" class="img-responsive"><br>
                    <h3>Standard Orchestra</h3><br>
                    <div class="service_text">
						<p>22 Musicians</p>
						<p>19 Musicians</p>
						<p>15 Musicians</p>
						<p>12 Musicians</p>
						<p><b>Add our DJ / Turntablist to any of the above for the ultimate in modern live performance!</b></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div>
                    <img src="/img/icon/violin_white.png" class="img-responsive" height="100"><br>
                    <h3>Wedding Ceremonies</h3><br>
                    <div class="service_text">
						<p>String Quartet &amp; Harp</p>
						<p>String Quartet</p>
						<p>Piano, Acoustic Guitar &amp; Violin</p>
						<p>Piano &amp; Violin</p>
						<p>Piano &amp; Flute</p>
						<p>Brazilian Guitar</p>
						<p>Classical Guitar</p>
						<p>Choral Ensembles</p>
						<p>Gospel Choir</p>
						<p>Solo Harp</p>
                	</div>
            	</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div>
                    <img src="/img/all/turntable_white.png" class="img-responsive"><br>
                    <h3>Other Events</h3><br>
                    <div class="service_text">
						<p>DJs</p>
						<p>Dancers</p>
						<p>Emcees</p>
						<p>Classical / Latin / Americana &amp; Brazilian Guitarists</p>
						<p>Herald Trumpets</p>
						<p>Steel Drums</p>
						<p>DJ/Band Combination</p>
						<p>Silks &amp; Aerial Ring Acts</p>
						<p>Backline/Sound Reinforcement</p>
						<p>Show &amp; Stage Production</p>
						<p>Staging &amp; Lighting</p>
						<p>AAA Headliners</p>
                	</div>
            	</div>
            </div>
		</section>
	</article>
</section>
<!-- END   SERVICES -->