<!DOCTYPE html>
<!--                               *                                
 (  (        *     *         *   (  `             (                 
 )\))(   '    )     )        )   )\))(      (     )\ )   (       )  
((_)()\ )  ( /(    /((    ( /(  ((_)()\    ))\   (()/(   )\   ( /(  
_(())\_)() )(_))  (_))\   )(_)) (_()((_)  /((_)   ((_)) ((_)  )(_)) 
\ \((_)/ /((_)_   _)((_) ((_)_  |  \/  | (_))     _| |   (_) ((_)_  
 \ \/\/ / / _` |  \ V /  / _` | | |\/| | / -_)  / _` |   | | / _` | 
  \_/\_/  \__,_|   \_/   \__,_| |_|  |_| \___|  \__,_|   |_| \__,_| 
-->
<html lang="en">
<head>
	<title>Larry King Orchestra</title>
	<meta charset="utf-8">

	<!-- CSS -->
	<link href="http://fonts.googleapis.com/css?family=Varela+Round" rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery.fullwidthAudioPlayer.css">
	<link rel="stylesheet" type="text/css" href="/css/jquery.fullwidthAudioPlayer-responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/colorbox.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/raves-reviews-mrcn.css">
	<link rel="stylesheet" type="text/css" href="/css/parsley.css">

	<!-- JAVASCRIPT -->
<script src="https://connect.soundcloud.com/sdk.js"></script>
<script src="/js/skrollr.js"></script>

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/parsley.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/soundmanager2-nodebug-jsmin.js"></script>
<script src="/js/jquery.fullwidthAudioPlayer.min.js"></script>
<script src="/js/jquery.colorbox-min.js"></script>
<script src="/js/jquery.pagination.js"></script>
<script src="/js/jquery.textillate.js"></script>
<script src="/js/jquery.lettering.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/sponsors.js"></script>
<script src="/js/main.js"></script>


<script src="/js/skrollr-init.js"></script>


</head>
<body>
	
	<section id="lkobody">
		{{{body}}}
	</section>

	{{> contact}}

	{{> links}}

	<!-- START FOOTER -->
	<footer id="footer">

		<!-- START AUDIO PLAYER -->
		<div id="fap">
	        <a href="https://soundcloud.com/larry-king-orchestra"></a>
	    </div>
		<!-- END   AUDIO PLAYER -->

	</footer>
	<!-- END   FOOTER -->

</body>
</html>