<div class="biography">
	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="col-sm-6">
			<h1>Dawn Gingrich</h1>
			<h3>Violinist</h3>
		</div>
		<div class="col-sm-6">
			<img src="/img/all/Dawn-Gingrich.jpg"></img><br>
		</div>
		<div class="col-sm-12">
			<br><br>
			<p>
				Award-winning violinist Dawn Gingrich has appeared throughout 
				the world as a soloist and chamber musician. She has given 
				frequent recitals at a variety of venues in New York, Chicago, 
				Boston, and Baltimore, and has made solo appearances at the New 
				England Conservatory, Longy School of Music, the Juilliard 
				School, and Northwestern University. A prizewinner at the Eastern 
				Connecticut Symphony Orchestra Young Artist Competition and at 
				the Fischoff National Chamber Music Competition, Ms. Gingrich 
				has participated in music festivals all over the world, including 
				Music Academy of the West, the Thüringische Sommer-Akademie 
				in Böhlen, Germany, the International Musical Arts Institute, and 
				Symphony Orchestra Academy of the Pacific, where she served as 
				concertmaster for the inaugural season.<br><br> Dawn began studying 
				violin at the age of three with Barbara Bredemeier, and has since 
				worked with Eric Rosenblith of the New England Conservatory, 
				Zvi Zeitlin of the Eastman School of Music, and Laura Chen of the 
				Philadelphia Orchestra and Boston Symphony Orchestra. In 2008, 
				Dawn and her father Daniel Gingrich, associate principal hornist of 
				the Chicago Symphony Orchestra, released their first collaborative 
				CD, entitled “Time Beyond Me”, which features a performance of 
				the Brahms Horn Trio with Heng-Jin Park, pianist and founding 
				member of the Boston Trio. She has appeared as a soloist at 
				Chicago’s Beethoven Festival and Evanston’s Bach Week Festival, 
				and has performed live on WTTW’s Chicago Tonight, ABC 7 
				“Chicago News This Morning,” and A&amp;E’s “The Competition”. 
				She plays regularly with the Milwaukee Ballet Orchestra, Rhode 
				Island Philharmonic, San Diego Symphony, Binghamton 
				Philharmonic, Ars Viva Symphony Orchestra, and the Lake Forest 
				Symphony. <br><br>She is currently on faculty at Suzuki Music School of 
				Barrington and has previously served on faculty at Brooklyn 
				Conservatory. Dawn has spearheaded and performed numerous 
				benefit concerts for charitable organizations including the Cotlands 
				Hospice for children living with HIV in South Africa, Jitokeze: 
				Kenyan Women Building Sustainable Communities, and 
				fundraisers for Congolese refugees living in the United States. 
			</p>
		</div>
	</div>
</div>