<div class="biography">
	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="col-sm-6">
			<h1>Elizabeth Huffman</h1>
			<h3>Violinist</h3>
		</div>
		<div class="col-sm-6">
			<img src="/img/all/Elizabeth-Huffman.jpg"></img><br>
		</div>
		<div class="col-sm-12">
			<br><br>
			<p> 
				Elizabeth Huffman has performed with multiple artists 
				and orchestras across the country and is experienced in 
				many styles of music. Currently she holds the position 
				of Assistant Concertmaster with the Illinois 
				Philharmonic Orchestra, section violin with the Elgin 
				Symphony Orchestra, and section violin with the 
				Milwaukee Ballet Orchestra.<br><br>
				Elizabeth received a Bachelor of Music in Violin 
				Performance from Western Michigan University, and a 
				Master of Music from the Cleveland Institute of Music.				
			</p>
		</div>
	</div>
</div>