<div class="biography">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="col-sm-6">
					<h1>Ethan Bender</h1>
					<h3>Bass</h3>
				</div>
				<div class="col-sm-6">
					<img src="/img/all/Ethan-Bender-300x300.jpg"></img><br>
				</div>
				<div class="col-sm-12">
					<br><br>
					<p>
						Milwaukee born bassist Ethan Bender has been on the professional music scene since he was in his teens. During this time, he has performed with Clark Terry, Red Skelton, & Ed Shaughnessy. As a member of various bands, Ethan has shared the stage with such artists as Al Jarreau, Tower of Power, Richard Marx, & Jeff Healey. His musical influences run the gamut from Parliament/Funkadelic to Miles Davis, and are reflected in his funky, groove-laden style.
					</p>
				</div>
		</div>
</div>