<div class="biography">
	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="col-sm-6">
			<h1>Heather Boehm</h1>
			<h3>Violinist</h3>
		</div>
		<div class="col-sm-6">
			<img src="/img/all/Heather-Boehm.jpg"></img><br>
		</div>
		<div class="col-sm-12">
			<br><br>
			<p> 
				Heather Boehm attended DePaul University where she received 
				her undergraduates degree in Violin Performance and Music 
				Business. Recent theatre credits include South Pacific,Candide, Animal 
				Crackers, My Fair Lady, Operettas Greatest Hits, Beauty and the 
				Beast, Grey Gardens, Caroline or Change, Carousel, and Passion.<br><br>
				 
				Ms. Boehm has performed with orchestras in the Chicagoland area and 
				throughout the country including the Charleston Symphony, Illinois 
				Symphony, Lake Forest Symphony, New Philharmonic, Northwest Indiana 
				Symphony, and the Chicago Chamber Orchestra. Heather has played for 
				Barbra Streisand, Billy Joel, Linda Eder, Il Divo, Peter Gabriel, Kristin 
				Chenoweth, Andrea Bocelli, Wayne Newton, Bobby Vinton, Celtic Woman 
				and the Trans-Siberian Orchestra and runs a musical services company: 
				Choice Music Chicago which partners with LKO on all string contracting 
				and arranging needs for MFO Entertainment.<br><br> 
				 
				Heather as Secretary-Treasurer of the Chicago Theatre Musicians 
				Association (TMA) and serves on committee member for the National 
				Theatre Musicians Association.<br><br>
				
				She has served as the orchestra contractor for the Goodman Theatre's 
				productions of The Jungle Book (2013) and Brigadoon(2014). 
			</p>
		</div>
	</div>
</div>