<div class="biography">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="col-sm-6">
					<h1>Jeffrey Morrow</h1>
					<h3>Vocals</h3>
				</div>
				<div class="col-sm-6">
					<img src="/img/all/DWP0039-copy-300x300.jpg"></img><br>
				</div>
				<div class="col-sm-12">
					<br><br>
					<p>
						Jeff has been one of the top studio vocalists and voice-over artists in Chicago for the past 20 years. He is a graduate of Valparaiso University, with a degree in vocal music. He spent 6 years as a music teacher in Hammond, Indiana, while playing in various local bands. During this time, Jeff also spent 2 years singing in the chorus of the Lyric Opera of Chicago. Shortly thereafter, Jeff began transitioning into a career as a studio vocalist.<br><br>

						As a session singer, arranger and contractor, Jeff has worked on numerous gold and platinum albums with artists such as: R Kelly, Céline Dion, Richard Marx, Jay-Z, Ruben Studdard, Ramsey Lewis, Mavis Staples, Dennis De Young, Peter Cetera, Michael Bolton, Brian Culbertson, LaShell Griffin and many more.<br><br>
						
						Today, Jeff works as a singer, arranger, producer, voice-over artist and vocal contractor. He has sung on over 5,000 TV and radio commercials, and has done voice-overs on over 2,000 commercials. Some of his regular clients include: McDonalds, Allstate, Nintendo, Red Lobster, Kelloggs, Sears, Ford, AT &T, Toyota, S C Johnson, and Kraft to name a few. He’s also “The Voice” for CW Atlanta and does other free-lance promo work. Jeff’s voice can be heard on several TV and video projects, including: “Veggie Tales” (the voice of Palmy), and “Jacks Big Music Show” (on Nick). He has also worked on several movie sound tracks, including: “My Best Friends Wedding”, “Dances with Wolves”, “Hoodlums”, “Ali”, “Unconditional Love”, “A Perfect Murder”, and “Just Visiting”. 
					</p>
				</div>
		</div>
</div>