<div class="biography">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="col-sm-6">
					<h1>John Blasucci</h1>
					<h3>Keyboards</h3>
				</div>
				<div class="col-sm-6">
					<img src="/img/all/John-Blasucci-Edit.png"></img><br>
				</div>
				<div class="col-sm-12">
					<br><br>
					<p>
						From artists like Dennis DeYoung to Richard Marx to Michael Bolton, John has made a living helping others share their music with the world. As a composer, producer, programmer and pianist, John has racked up a healthy discography that includes work with Celine Dion, Josh Groban and ‘N Sync. With Larry's originals band, Soleil Moon, John had the chance to write and record with the London Symphony Orchestra and produce some of the best studio musicians in the world such as Michael Thompson, Ricky Peterson, Lenny Castro, Kenny Aronoff and jazz saxophonist Warren Hill. John was also the keyboard player in the house band on NBC's "Playboy Club."A regular on the contemporary jazz circuit, John is a member of red hot guitarist Nick Colionne’s band and co-author of four of Colionne’s Top Ten hits. <br><br>

						John is also currently the keyboardist for Dennis DeYoung of Styx. A third generation pianist, he learned to love his instrument by listening to his father and grandfather play on the family piano. One of his early musical influences was teacher Alan Swain, whom he began studying with intensely during high school. John attended Northern Illinois University and after touring Europe and the US, he came home to the Chicago jazz circuit. Other work by John has included penning the Jewel Food Stores jingle, a song with the London Symphony Orchestra in a PBS documentary and work on Mattel's Barbie Nutcracker and Repunzel Suite movies. John is a Yamaha endorsed artist. 
					</p>
				</div>
		</div>
</div>