<div class="biography">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="col-sm-6">
						<h1>John Janowiak</h1>
						<h3>Trombone</h3>
					</div>
				<div class="col-sm-6">
					<img src="/img/all/John-Janowiak-Headshot-300x300.jpg"></img><br>
				</div>
				<div class="col-sm-12">
					<br><br>
					<p>
						John Janowiak (a.k.a. Johnny Showtime) has carved out a niche as an in-demand trombone soloist and section man for a wide variety of groups and recording projects in and around Chicago. He is probably best known for his trombone work in Liquid Soul, which he played in from 1995 to early 2003. He recorded on three of the band's four albums, including the Grammy-nominated Here's the Deal (2000), and performed all over the United States and Canada, plus Mexico, Japan, Germany and Turkey. After leaving Liquid Soul, Showtime formed his own soul-jazz combo, Soulio, which plays regularly in Chicago and the suburbs. 
					</p>
				</div>
		</div>
</div>