<div class="biography">
	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="col-sm-6">
			<h1>Julia Schifrin</h1>
			<h3>Violinist</h3>
		</div>
		<div class="col-sm-6">
			<img src="/img/all/Julia-Schifrin.jpg"></img><br>
		</div>
		<div class="col-sm-12">
			<br><br>
			<p> 
				Julia Schifrin was born in Moscow, Russia where she began her violin 
				studies at the age of six. In addition to performing with the Larry King 
				Orchestra, she has toured internationally with the Russian American 
				Orchestra, Marat World Entertainment and is a member of the Maxwell 
				Street Klezmer Band.<br><br>
				 
				A dynamic violinist whose passion for live performance is evident in her 
				engaging style-whether performing classical, jazz or contemporary pop, 
				Ms. Schifrin shines as a soloist and particularly enjoys Klezmer music and 
				Eastern European idioms Ms. Schifrin has performed on the Oprah 
				Winfrey Show, and with Chicago's acclaimed Lyric Opera, Concertante Di 
				Chicago, and the Civic Orchestra of Chicago under conductors Pierre 
				Boulez, Daniel Barenboim, and Christoph Eschenbach.<br><br> 
				 
				Ms. Schifrin studied with Yuriy Beliavsky and Professor Mark Zinger at 
				DePaul University, where she received her Bachelors Degree in Violin 
				Performance. 				
			</p>
		</div>
	</div>
</div>