<div class="biography">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="col-sm-6">
					<h1>Kathleen O'Brien</h1>
					<h3>Vocals</h3>
				</div>
				<div class="col-sm-6">
					<img src="/img/all/Kate-Option-2-Edit.jpg"></img><br>
				</div>
				<div class="col-sm-12">
					<br><br>
					<p>
						Kathleen’s unique and varied singing career includes a recording contract with Motown records with her first band, Voyage, as well as singing backing vocals for Kenny Rogers on tour. Classically trained, Kathleen is a member of the world famous Chicago Symphony Orchestra Chorus. Recently, Kathleen sang on the CSO recording of The Verdi Requiem which received 2 Grammy Awards for "Best Choral Performance" and "Best Classical Album" in 2011. Subsequent to completing her bachelors’ degree in voice performance at Indiana University, went on to embark on a solo career that ranges from classical to jazz to rock, pop, R&B and country. Kathleen also co-wrote the song ‘Willingly’ on the Soleil Moon album ‘World’s Apart’ which went on to reach 17 in the FMQB adult contemporary chart and placed at number 69 on the same publications top 100 singles for the year 2000.
					</p>
				</div>
		</div>
</div>