<div class="biography">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="col-sm-6">
						<h1>Khari Parker</h1>
						<h2>Drums</h2>
					</div>
				<div class="col-sm-6">
					<img src="/img/all/Khari-Parker-300x300.jpg"></img><br>
				</div>
				<div class="col-sm-12">
					<br><br>
					<p>
						Check out Khari playing in the house band on the Rosie O'Donnell show! The new Oprah Network show airs at 6pm central time Monday through Friday. A fixture in the R&B and Jazz scene, Khari has shared his talents around the world as the backbone and heartbeat of artists such as Destiny's Child, Beyonce Knowles, Kelly Rowland, Boz Scaggs, Rafael Sadiq, Kirk Franklin, Gladys Knight, Jennifer Hudson, Joss Stone and Brenda Russell. He has also performed with Smooth Jazz artists Steve Cole, Brian Culbertson, Richard Elliott and Peter White. Khari was honored to record with Joss Stone on her 2007 release "Introducing Joss Stone." In 2011, he performed with Jennifer Hudson on Oprah as well as The Ellyn Degeneres Show. Khari has most recently performed with Ronald Isley, Gerald Albright, Peter White, Rick Braun and gospel artists Yolanda Adams, Smokie Norful, The Thompson Community Singers and The Mighty Clouds of Joy.<br><br>
						Larry's originals band Soleil Moon just released their new album “On The Way To Everything” and the first single "History Repeats Its Pages" peaked at #8 on the national FMQB Radio Charts. Click here to view the video. The second single "Here I Am" also peaked at #8. The Christmas single "Have Yourself A Merry Little Christmas" just shot from #55 to #37 and has charted in the Top 40 for the last 3 years! Congratulations to LKO's Tina Crawley! Her new album "The Longest Journey" hit #4 on the UK Soul Chart. Larry King Orchestra performed at the new year's eve wedding of Nascar's Kyle Bush and Samantha Sarcinella. Click here for more. "Have Yourself A Merry Little Christmas" by Larry's originals band Soleil Moon peaked at #20 on the ACQB national radio charts over the holidays. Click here to purchase the single.<br><br>
						Copyright © 2003 Larry King Orc
					</p>
				</div>
		</div>
</div>