<div class="biography">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="col-sm-6">
					<h1> LARRY KING </h1>
					<h3>Vocalist/ Keys</h3>
					Larry King-President of Larry King Orchestra<br>
					MFO Entertainment Group, Inc.<br>
					Mufaro Publishing, Inc.<br>
					Lead Singer of Soleil Moon<br><br><br>
				</div>
				<div class="col-sm-6">
					<img src="/img/all/Larry-King-300x300.jpg"></img><br>
				</div>
				<div class="col-sm-12">
					<br><br>
					<p>The driving force behind Larry King Orchestra and Soleil Moon, Larry has been involved in every facet of the entertainment industry from the time he was a young boy. He began at the tender age of seven and although his schedule was busy with performances on stage and screen he managed to feature in 52 commercials before the age of 13.<br><br>

					• He became nationally renowned for his writing and vocal ability and experimented with various projects including his band Human Factor which was signed by Caliber Records, (Los Angeles, CA) a division of Warner Brothers.<br><br>

					• Larry is well known in Chicago and nationwide for, among other things, his work on commercial jingles with a diverse range of clients including ‘Ferrara-Pan’ candy, R.C. Cola, Coca-Cola, Gatorade, Enterprise Rental Cars, Long John Silver, Pizza Hut and the CD ROM game ‘You Don’t Know Jack’, to name a few…<br><br>

					• In 1997 Larry conceptualized and formed ‘The Larry King Orchestra’. He hand-picked eleven top notch musicians and vocalists to form what became one of Chicago’s premiere private event bands. LKO has now grown to a 22 piece orchestra and has had the pleasure of performing with artists such as Nelly, Lionel Richie, Journey, Bruce Hornsby, Cheap Trick & Joan Rivers for clients such as Rudy Giuliani, United Airlines, Exelon Corporation, Advocate Charitable Foundation, Northwestern Memorial, Sepracor (Lunesta) & Kyle Busch (NASCAR).<br><br>


					<strong>Soleil Moon</strong><br>
					• Larry is currently signed to Frontiers Records (Naples, Italy) with his originals band Soleil Moon. The record “On The Way To Everything” had 2 singles released to radio and both “History Repeats Its Pages” and “Here I Am” charted in the Top 10 peaking at #8.<br><br>


					<strong>MTB</strong><Br>
					• Larry is also Lead Singer, Writer and Producer of MTB with guitarist Michael Thompson (Justin Bieber, Shania Twain, Faith Hill, Celine Dion, Michael Buble, Justin Timberlake, Ray Charles, Michael Jackson, Michael Bolton, etc.) MTB had a #1 hit “Can’t Miss” with Geffen Records in 1989 with Moon Calhoun as the lead singer. In 2012 when asked by Frontiers about selecting a new frontman for MTB, Michael replied “When I was considering singers for this new record I said to myself "Who is the best rock singer that I know?" and only one person came to mind - Larry King. The guy has such a phenomenal range and texture and it goes perfectly with my guitars.”<br><br>

					<strong>MFO ENTERTAINMENT GROUP</strong><br>
					In 1998, Larry created the MFO Entertainment Group, under which Soleil Moon achieved great success competing with artists such as Celine Dion, Michael Bolton and Toni Braxton on the Adult Contemporary radio charts. The band featured prominently in the Top 40 with their last 3 releases and two of their songs, Willingly and Never Say Goodbye, were featured on the Adult Contemporary Top 2000 Tracks.<br><br>

					MFO Entertainment Group provides the world with a multitude of top notch entertainment options. From Weddings, Corporate Parties, Bar/ Bat Mitvahs, Classical String Ensembles, Techno Dance Parties, Jazz Ensembles and Opera with the Larry King Orchestra to the Soleil Moon 'Worlds Apart' Vegas Style Extravaganza. We are available for all of your entertainment needs.
					</p>
				</div>
		</div>
</div>