<div class="biography">
	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="col-sm-6">
			<h1>Marques Carroll</h1>
			<h3>Trumpet</h3>
			
		</div>
		<div class="col-sm-6">
			<img src="/img/all/Marques-Carroll-Edit.jpg"></img><br>
		</div>
		<div class="col-sm-12">
			<br><br>
			<p>Marques Carroll has become one of the most diverse sought-out trumpet players the city of Chicago has to offer. He can be heard soloing or leading a section for blues guitarist Guy King, the Ojays, the Temptations, the Tom Matta Big Band, the Depaul Alumni Big Band, the BMC and the Larry King Orchestra.</p>
		</div>
	</div>
</div>