<div class="biography">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="col-sm-6">
					<h1>Mike Poupko</h1>
					<h3>Guitar</h3>
				</div>
				<div class="col-sm-6">
					<img src="/img/all/DWP0067-300x300.jpg"></img><br>
				</div>
				<div class="col-sm-12">
					<br><br>
					<p>
						Mike received his Jazz Performance degree from Roosevelt University in 2001 and has been performing throughout the country ever since. His original rock band, Punsapaya, won best rock album of 2004 at the Chicago Music Awards and has twice been nominated for best rock entertainer. They also had several songs placed on NBC tv shows and numerous high profile opening slots including Tom Petty, The Black Crowes, The Wailers, Soul Asylum, Fishbone and Victor Wooten. Mike's current band Twinray just put the finishing touches on their debut album "The Train You're On," produced by Sean Okeefe (Plain White T's, Fallout Boy, Company of Thieves, etc.) The album has recieved stellar reviews from music critics and will be officially released in the spring of 2011.<br><br>

						Mike is also the owner/proprietor of North Shore Music Institute in Northfield where kids and adults have been educated in music since 2002. From 1999 thru 2005 Mike performed with Frankie Avalon and in "Tony and Tina's Wedding," Chicago's longest running comedy.
					</p>
				</div>
		</div>
</div>