<div class="biography">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="col-sm-6">
					<h1>Nic Meyer</h1>
					<h3>Saxophone & Flute</h3>
				</div>
				<div class="col-sm-6">
					<img src="/img/all/Nic-Meyer-Shot-Option-2-e1391630707873-300x300.jpg"></img><br>
				</div>
				<div class="col-sm-12">
					<br><br>
					<p>
						Nic Meyer was recently hired as the Director of Jazz Ensembles at New Trier High School in Winnetka, IL, beginning in the fall of 2009. He is currently the Jazz Program Director at Midwest Young Artists, where he directs the Jazz Ensemble, Jazz Orchestra, Big Band, Jazz Combos, and teaches the jazz theory and history classes. He maintains private saxophone studios at New Trier High School and the MYA center in Fort Sheridan. Nic also teaches at the Birch Creek Music and Performance Center in Egg Harbor, WI. He is formerly the Director of Instrumental Music at The Joseph Sears School in Kenilworth where he spent three years rebuilding the band, orchestra and jazz programs. He is also a former faculty member of the MERIT School of Music, where he taught private saxophone lessons, jazz improvisation, and an honors chamber ensemble. Nic is an active adjudicator for solo and ensemble festivals, and has directed ensembles for the IMEA All District festival.<br><br>

						Nic attended DePaul University on a saxophone performance scholarship and received his B.M. in Music Education. He also holds a Master’s in Music Education from Northwestern University. In addition to his busy teaching schedule, Nic performs regularly in the Chicago area, appearing at Pete Miller’s, Martyrs, The Park West, The Green Mill, The House of Blues, and other local venues. 
					</p>
				</div>
		</div>
</div>