<div class="biography">
	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="col-sm-6">
			<h1>Stephanie Harris</h1>
			<h3>Violinist</h3>
		</div>
		<div class="col-sm-6">
			<img src="/img/all/Stephanie-Harris.jpg"></img><br>
		</div>
		<div class="col-sm-12">
			<br><br>
			<p>
				Stephanie Harris was raised in Naperville Illinois where she began her 
				violin studies at the age of four. She received her Bachelors Degree in 
				Violin Performance from the University of Illinois on a performance 
				scholarship where she studied with Sherban Lupu and Peter Schaeffer and 
				served as concertmaster of the symphony.<br><br>
				 
				In 2007, Stephanie was featured on tour with the preeminent international 
				violin ensemble Barrage. National tour performances include Barry 
				Manilow at the Rosemont Theatre, Trans-Siberian Orchestra at the Allstate 
				Arena and Chicago Theatre, and Peter Gabriel at the United Center. She 
				maintains an active schedule in Chicago for special events and orchestral 
				work, including Oak Park River Forest Symphony.<br><br>
				 
				In addition to her accomplished performance career, Ms. Harris is a 
				chiropractic physician. In 2012 she opened her own practice: Harrison Street Chiropractic in the Oak Park Arts District, where she specializes in 
				treating repetitive motion injuries in musicians.
			</p>
		</div>
	</div>
</div>